.error-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: center;
    margin: 20px;
    
    h3 {
        margin-bottom: 20px;
    }
}

.download-button {
    margin: 20px;
}
